db/.cmp.kpt
db/HomeBrewComputer_partition_pins.json
db/HomeBrewComputer.(0).cnf.cdb
db/HomeBrewComputer.(0).cnf.hdb
db/HomeBrewComputer.asm_labs.ddb
db/HomeBrewComputer.asm.qmsg
db/HomeBrewComputer.asm.rdb
db/HomeBrewComputer.cbx.xml
db/HomeBrewComputer.cmp_merge.kpt
db/HomeBrewComputer.cmp.bpm
db/HomeBrewComputer.cmp.cdb
db/HomeBrewComputer.cmp.hdb
db/HomeBrewComputer.cmp.idb
db/HomeBrewComputer.cmp.logdb
db/HomeBrewComputer.cmp.rdb
db/HomeBrewComputer.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/HomeBrewComputer.cycloneive_io_sim_cache.45um_tt_1200mv_0c_slow.hsd
db/HomeBrewComputer.cycloneive_io_sim_cache.45um_tt_1200mv_85c_slow.hsd
db/HomeBrewComputer.db_info
db/HomeBrewComputer.eda.qmsg
db/HomeBrewComputer.fit.qmsg
db/HomeBrewComputer.hier_info
db/HomeBrewComputer.hif
db/HomeBrewComputer.lpc.html
db/HomeBrewComputer.lpc.rdb
db/HomeBrewComputer.lpc.txt
db/HomeBrewComputer.map_bb.cdb
db/HomeBrewComputer.map_bb.hdb
db/HomeBrewComputer.map_bb.logdb
db/HomeBrewComputer.map.ammdb
db/HomeBrewComputer.map.bpm
db/HomeBrewComputer.map.cdb
db/HomeBrewComputer.map.hdb
db/HomeBrewComputer.map.kpt
db/HomeBrewComputer.map.logdb
db/HomeBrewComputer.map.qmsg
db/HomeBrewComputer.map.rdb
db/HomeBrewComputer.pre_map.hdb
db/HomeBrewComputer.quiproj.26228.rdr.flock
db/HomeBrewComputer.root_partition.map.reg_db.cdb
db/HomeBrewComputer.routing.rdb
db/HomeBrewComputer.rtlv_sg_swap.cdb
db/HomeBrewComputer.rtlv_sg.cdb
db/HomeBrewComputer.rtlv.hdb
db/HomeBrewComputer.sld_design_entry_dsc.sci
db/HomeBrewComputer.sld_design_entry.sci
db/HomeBrewComputer.smart_action.txt
db/HomeBrewComputer.sta_cmp.6_slow_1200mv_85c.tdb
db/HomeBrewComputer.sta.qmsg
db/HomeBrewComputer.sta.rdb
db/HomeBrewComputer.tis_db_list.ddb
db/HomeBrewComputer.tiscmp.fast_1200mv_0c.ddb
db/HomeBrewComputer.tiscmp.slow_1200mv_0c.ddb
db/HomeBrewComputer.tiscmp.slow_1200mv_85c.ddb
db/HomeBrewComputer.tmw_info
db/HomeBrewComputer.vpr.ammdb
db/prev_cmp_HomeBrewComputer.qmsg
greybox_tmp/cbx_args.txt
incremental_db/README
incremental_db/compiled_partitions/HomeBrewComputer.db_info
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.ammdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.cdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.dfp
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.hdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.logdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.cdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.dpi
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.hdb
incremental_db/compiled_partitions/HomeBrewComputer.root_partition.map.kpt
incremental_db/compiled_partitions/HomeBrewComputer.rrp.hdb
output_files/HomeBrewComputer.asm.rpt
output_files/HomeBrewComputer.done
output_files/HomeBrewComputer.eda.rpt
output_files/HomeBrewComputer.fit.rpt
output_files/HomeBrewComputer.fit.smsg
output_files/HomeBrewComputer.fit.summary
output_files/HomeBrewComputer.flow.rpt
output_files/HomeBrewComputer.jdi
output_files/HomeBrewComputer.map.rpt
output_files/HomeBrewComputer.map.summary
output_files/HomeBrewComputer.pin
output_files/HomeBrewComputer.sld
output_files/HomeBrewComputer.sof
output_files/HomeBrewComputer.sta.rpt
output_files/HomeBrewComputer.sta.summary
simulation/qsim/add_sub_t.vwf.vt
simulation/qsim/HomeBrewComputer_6_1200mv_0c_slow.vo
simulation/qsim/HomeBrewComputer_6_1200mv_0c_v_slow.sdo
simulation/qsim/HomeBrewComputer_6_1200mv_85c_slow.vo
simulation/qsim/HomeBrewComputer_6_1200mv_85c_v_slow.sdo
simulation/qsim/HomeBrewComputer_20201002185706.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192014.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192139.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192324.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192515.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192716.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192839.sim.vwf
simulation/qsim/HomeBrewComputer_20201002192929.sim.vwf
simulation/qsim/HomeBrewComputer_min_1200mv_0c_fast.vo
simulation/qsim/HomeBrewComputer_min_1200mv_0c_v_fast.sdo
simulation/qsim/HomeBrewComputer_modelsim.xrf
simulation/qsim/HomeBrewComputer_v.sdo
simulation/qsim/HomeBrewComputer_v.sdo_typ.csd
simulation/qsim/HomeBrewComputer.do
simulation/qsim/HomeBrewComputer.msim.vcd
simulation/qsim/HomeBrewComputer.sft
simulation/qsim/HomeBrewComputer.vo
simulation/qsim/transcript
simulation/qsim/vwf_sim_transcript
simulation/qsim/Waveform.vwf.vt
simulation/qsim/work/_info
simulation/qsim/work/_lib.qdb
simulation/qsim/work/_lib1_4.qdb
simulation/qsim/work/_lib1_4.qpg
simulation/qsim/work/_lib1_4.qtl
simulation/qsim/work/_vmake
